sudo: true
language: node_js
node_js:
- node

services:
  - docker

before_install:
  - docker build -t anilvermaspeaks/docker-prod-workflow -f Dockerfile.dev .

  script:
    - docker run -e CI=true anilvermaspeaks/docker-prod-workflow npm run test -- --coverage
